/**======================================================**/
/**                      CodeMirror                      **/
/**======================================================**/
@import "../node_modules/codemirror/lib/codemirror.css";

.react-codemirror2 {
  // todo Leave padding for the action panel
  width: 100%;
  height: 100vh;

  border: 1px solid black;
  .CodeMirror {
    height: 100%;
    font-size: 17px;
    padding: 20px 5px;
  }
}

.CodeMirror-wrap pre {
  word-break: break-all;
}
