/**======================================================**/
/**                     VARIABLES                        **/
/**======================================================**/
/******************** Fonts *******************/
$SANS_FONT_1:                   "Helvetica Neue", Helvetica, Arial, Verdana, sans-serif;
$SANS_FONT_2:                   Verdana, Geneva, sans-serif;

$MONO_FONT_1:                   "Lucida Console", Monaco, monospace;

/******************** Theme 1: Sexless innkeeper *******************/


/******************** Theme 2: Geek's shirt *******************/


/**======================================================**/
/**                     FUNCTIONS                        **/
/**======================================================**/
/******************** Layout *******************/
@mixin common-flex($flex-direction, $justify-content, $align-items) {
  display: flex;
  flex-direction: $flex-direction;
  justify-content: $justify-content;
  align-items: $align-items;
}

@mixin svg-icon() {
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}
