.markedH1,
.markedH2,
.markedH3,
.markedH4,
.markedH5,
.markedH6,
.markedBlockquote,
.markedNormal,
.markedUl,
.markedOl,
.markedLi,
.markedStrong,
.markedEm,
.markedCodeSpan {
  color: black;
  font-family: Arial, sans-serif;
}

.markedBlockquote {
  font-family: Andale Mono, sans-serif;
  font-style: italic;
  padding: 0 10px;
  border-left: 3px solid lightgray;
}

.markedHr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid lightgray;
  margin: 10px 0 20px;
  padding: 0;
}

.markedCodeSpan {
  display: inline-block;
  background-color: #f6f8fa;
  margin: 0 2px;
  padding: 1px 5px;
  border-radius: 3px;

  color: #24292e;
  font-size: 13px;
  font-family: "SFMono-Regular", Consolas, "Liberation Mono", Menlo,Courier, monospace;
  font-weight: 400;
}
