/**======================================================**/
/**                     Predefined                       **/
/**======================================================**/
html {
  padding: 0 !important;
}

body {
  width: 100vw !important;
  height: 100vh;
  padding: 0 !important;
  margin: 0 !important;

  position: relative;
  background: black;
  font-family: Arial, Helvetica, Helvetica Neue, serif;
  overflow-y: hidden;
}

div {
  box-sizing: border-box;
}

#root {
  position: absolute;
  width: 100%;
  height: 100%;
}

// CodeMirror
@import "./styles/codeMirror.scss";
@import "~codemirror/lib/codemirror.css";
@import "~codemirror/theme/solarized.css";

// Markdown style
@import "./styles/preview/default";
