/**======================================================**/
/**                       Layout                         **/
/**======================================================**/
#app {
  position: absolute;
  width: 100%;
  height: 100%;
}

#main-page {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  height: 100%;
}


/**======================================================**/
/**                      Editor                          **/
/**======================================================**/
#md-editor {
  width: 55%;
  padding: 10px;
}

.ReactCodeMirror {
  height: 100%;
}

/**======================================================**/
/**                      Preview                         **/
/**======================================================**/
#md-preview {
  width: 50%;

  margin: 10px;
  padding: 20px;
  border: 1px solid black;

  background-color: white;

  overflow: scroll;
}



