/**======================================================**/
/**                       Layout                         **/
/**======================================================**/
#main-page {
  display: flex;
  flex-direction: row;
  width: 100%;
}


/**======================================================**/
/**                      Editor                          **/
/**======================================================**/
#md-editor {
  width: 50%;
  padding: 10px;
  overflow: scroll;
}

#md-editor textarea {
  width: 100%;
  height: 600px;
}

/**======================================================**/
/**                      Preview                         **/
/**======================================================**/
#md-preview {
  width: 50%;
  height: 610px;

  margin: 5px;

  background-color: wheat;

  overflow: scroll;
}



