/**======================================================**/
/**                       Layout                         **/
/**======================================================**/
#main-page {
  display: flex;
  flex-direction: row;
  width: 100%;
}


/**======================================================**/
/**                      Editor                          **/
/**======================================================**/
#md-editor {
  width: 50%;
  padding: 10px;
}

//#md-editor textarea {
//  width: 100%;
//  height: 600px;
//
//  outline: none;
//}

/**======================================================**/
/**                      Preview                         **/
/**======================================================**/
#md-preview {
  width: 50%;
  height: 565px;

  margin: 10px;
  padding: 20px;
  border: 1px solid black;

  background-color: white;

  overflow: scroll;
}



